# Node / frontend / backend
node_modules/
dist/
coverage/
.npmrc
.pnpm-store/

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
